/* import Poppins from Goggle API */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

[data-theme-light="light"] {
    --pageColor: #ffffff;
    --btnColor: #3b3b3b;
    --borderColor: #000000;
    transition: all .5s ease-out;
}

[data-theme-dark="dark"] {
    --pageColor: #000000;
    --btnColor: #afafaf;
    --borderColor: #ffffff;
    transition: all .5s ease-out;
}

body{
    background-color: var(--pageColor);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.info, .profile{
    margin-top: 30px;
}


.clear{
    margin-left: auto;
    display: flex;
}
.clear-all-btn, .count-task, .done-count-task, .done-clear-all-btn{
    background-color: var(--btnColor);
    color: var(--pageColor);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
}

.clear-all-btn, .done-clear-all-btn{
    margin-left: auto;
    cursor: pointer;
}

.style{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid var(--borderColor);
    background-color: var(--pageColor);
    color: var(--borderColor);
    border-radius: 5px;
    margin-bottom: 5px;
}

#result{
    color: var(--borderColor);
    margin: 0;
    transition: all 6s;
}

#add-btn{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: var(--btnColor);
    color: var(--pageColor);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.add-content, .done-add-content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

main{
    margin-top: 15px;
}

.task-list, .done-task-list{
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#list, #done-list{
    width: 700px;
    border: 2px solid var(--borderColor);
    border-radius: 10px;
    padding: 5px;
}

.task, .done-task{
    display: flex;
}

.delete-btn, .done-delete-btn{
    margin: auto 10px auto auto;
    color: var(--pageColor);
    background: red;
    border: 1px var(--pageColor) solid;
    padding: 8px;
    font-size: large;
    cursor: pointer;
    display: block;
}

.task-container{
    background-color: var(--btnColor);
    border-radius: 15px;
    color: var(--pageColor);
}

input[type="checkbox"]{
    margin: auto auto auto 10px;
    accent-color: var(--pageColor);
}

.green{
    background-color: green;
}
 
#dark-mode, #light-mode{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px; 
}

#dark-mode{
    background-color: #000000;
    color: white;
    border: 1px black solid;
}

#light-mode{
    background-color: #ffffff;
    color: #000000;
    border: 1px white solid;
    display: none;
}


#hide-done{
    display: none;
}

.hero {
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.pro-name{
    color: var(--borderColor);
    margin-left: auto;
    margin-right: auto;
}

.color-mode{
    margin-top: 20px;
    margin-left: auto;
}

.first-list {
    margin-top: 20px;
}

.builder{
    color: var(--borderColor);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.builder > button {
    background-color: var(--btnColor);
    color: var(--pageColor);
    margin-left: 6px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
    border: none;
}
.para > a{
    color: var(--btnColor);
}
#okay-btn{
    background-color: var(--btnColor);
    color: var(--pageColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#check-todo{
    color: var(--borderColor);
    text-align: center;
}

.profile{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#back-btn{
    background-color: var(--btnColor);
    cursor: pointer;
    padding: 8px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    color: var(--pageColor);
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.my-image{
    display: flex;
}

.builder-img{
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin-left: auto;
    margin-right: auto;
    color: var(--btnColor);
}

.my-info{
    margin-top: 50px;
    color: var(--borderColor);
}

.my-name{
text-align: center;
}

.invitation-to-scrimba {
    color: var(--borderColor);
}
.invitation-to-scrimba > a , .about-me > a{
    color: var(--btnColor);
}

.second-list{
    display: none;
    margin-top: 40px;
}

.view-hide-done{
    margin-top: 20px;
    width: 700px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    
}

#hide-done{
    display: none;
}

#view-done, #hide-done{
    background-color: var(--btnColor);
    color: var(--pageColor);
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.expand-more, .expand-less{
    position: relative;
    top: 5px;
}

@media all and (max-width: 699px) {
    .hero, .add-content, .task-list, #list, .profile, .done-add-content, .done-task-list, #done-list, .view-hide-done{
        width: 500px;
    }
}

@media all and (max-width: 499px){
    .hero, .add-content, .task-list, #list, .profile, .done-add-content, .done-task-list, #done-list, .view-hide-done{
        width: 300px;
    }
}

@media all and (max-width: 299px){
    .hero, .add-content, .task-list, #list, .profile, .done-add-content, .done-task-list, #done-list, .view-hide-done{
        width: 199px;
    }
    .builder-img{
        height: 200px;
    }
    .pro-name{
        margin-left: 10px;
    }
}
